<h1>Your Posts</h1>

<div class = "container">


      {{#each posts as |post|}}
        <div class="card  rounded my-2">   
            <span data-postID="{{post.id}}", data-userID="user.id"></span>
            <a href="/api/posts/edit/{{post.id}}" class="card-link"><h5>{{post.title}} {{post.id}}</h5></a>
            <p class = "float-right fs-5">Posted on {{format_date post.date_created}} </p>    
        
        </div>
        {{/each}}

        
      <a type="button" class="btn btn-success" href="/servePost">Add new Post</a>
 
</div>
   <div class="container">
    <div class="d-flex justify-content-center">
    </div>
      <a type="button" class="btn btn-success" href="/servePost">Add new Post</a>

   </div>
 
